<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boardinglabs.mireta.standalone">

    <application
        android:name="com.boardinglabs.mireta.standalone.MiretaPOSApplication"
        android:allowBackup="true"
        android:debuggable="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/FullScreenTheme"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:icon">
        <activity android:name="com.boardinglabs.mireta.standalone.modul.launcher.LauncherActivity"></activity>
        <activity android:name="com.boardinglabs.mireta.standalone.modul.ardi.freemeal.FreeMeal" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.ardi.registermember.RegisterMember" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.akun.rfid.RfidActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.transactions.items.voids.VoidActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.master.katalog.KatalogActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.akun.pengaturan.PengaturanAkunActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.ardi.historytopup.HistoryTopupActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.ardi.SaldoActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.ardi.pengaturan.PengaturanActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.transactions.items.pembayaran.pembayaranardi.PembayaranArdiActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.ardi.TopupSuksesActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.ardi.HomeArdiActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.auth.recoverpassword.RecoverPasswordActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.auth.forgotpassword.ForgotPasswordActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.transactions.items.pembayaran.PembayaranSuksesActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.component.util.PhotoUpdateUtil" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.akun.ubahpassword.UbahPaswordActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.auth.RegisterActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.transactions.items.pembayaran.scancode.ScanCodeActivity" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.master.printer.PrinterActivity"
            android:label="@string/title_activity_printer"
            android:theme="@style/FullScreenTheme.NoActionBar" />
        <activity android:name="com.boardinglabs.mireta.standalone.component.DeviceActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.component.util.Scanner" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.master.laporan.LaporanStock" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.master.laporan.LaporanPenjualan" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.master.laporan.LaporanActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.master.stok.inventori.TambahBarangActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.master.stok.inventori.StokActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.master.categories.CategoryActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.master.brand.BrandActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.master.profil.toko.ProfilTokoActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.transactions.items.pembayaran.PembayaranActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.akun.AkunActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.history.DetailTransactionActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.history.HistoryActivity" /> <!-- <service android:name=".messaging.MyFirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity
            android:name="com.boardinglabs.mireta.standalone.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.oldhome.HomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.topup.topup.TopupActivity"
            android:screenOrientation="portrait" />
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.topup.topuptransfer.TransferTopupActivity"
            android:screenOrientation="portrait" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.topup.topupmethod.PaymentMethodTopupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.topup.topupstatus.StatusTopupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.purchase.PurchaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.register.passcode.PasscodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.auth.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.register.otp.OtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.baznas.donate.DonateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.baznas.BaznasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.bpjs.bpjsforms.BpjsFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.bpjs.BpjsKetenagakerjaanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.splash.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.sendbalance.SendBalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.sendbalance.SendBalanceActivityCopy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.requestbalance.RequestBalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.checkpasscode.CheckPasscodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.transactionreview.TransactionReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.scanqr.InputAmountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.editprofile.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.termcondition.TermConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.auth.login.passcode.ForgotPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.dialogactivity.DialogAttachPicture"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.faq.FaqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.scanqr.ScanQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.oldhome.transaction.AllTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.topup.topupcreditcard.CreditcardTopupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.creditcard.inputcreditcard.InputCreditcardActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.old.creditcard.webview.VeritransWebViewActivity" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.bayar.BayarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.merchant.merchantlist.MerchantListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.merchant.detail.MerchantDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.creditcard.savedcreditcard.SavedCreditcardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.creditcard.detailcreditcard.DetailCreditcardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.creditcard.addcreditcard.AddCreditcardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.promo.PromoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.promo.detail.PromoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.topup.topupvirtualaccount.VirtualAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.verify.VerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.feed.posts.CreatePostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.feed.posts.PostDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.customer.ContactCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.feed.chats.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.account.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.topup.jiwasrayastatus.StatusJiwasrayaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.transactionreviewjiwasraya.TransactionReviewJiwasrayaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.old.jiwasraya.JiwasrayaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.old.onboard.OnBoardActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.old.invite.InviteActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.old.about.AboutActivity" />
        <activity android:name="com.boardinglabs.mireta.standalone.modul.old.account.ChangePasswordActivity" />
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.home.HomeActivity"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".modul.deals.review.DealReviewActivity" -->
        <!-- android:screenOrientation="portrait"></activity> -->
        <!-- <activity -->
        <!-- android:name=".modul.deals.success.SuccessDealActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".modul.parkir.begin.code.InputCodeBeginParkingActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".modul.parkir.begin.scan.ScanParkirActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".modul.parkir.begin.success.SuccessBeginParkirActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".modul.parkir.end.code.InputCodeEndParkingActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".modul.parkir.end.review.ReviewParkingActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- [START firebase_service] -->
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.master.MasterActivity"
            android:screenOrientation="portrait" /> <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <activity
            android:name="com.boardinglabs.mireta.standalone.modul.transactions.items.ItemsActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCsOhzpWuJAhwqNHKxjJUQHs8J_eNFlwNM" /> <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@drawable/p_logo" /> &lt;!&ndash; <activity android:name=".modul.customer.DetailContactCustomer"></activity> &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_color" -->
        <!-- android:resource="@color/colorAccent" /> -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="87a953b7cb44408d899baf8eb85b04fce2824a36" />
    </application>
    <permission
        android:name="${applicationId}.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <permission android:name="${applicationId}.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="${applicationId}.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.CLOUDPOS_CONTACTLESS_CARD" />
    <uses-permission android:name="android.permission.CLOUDPOS_DEFAULT_LAUNCHER" />

    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER" />

</manifest>